<!-- página base onde estarão elementos iguais para todas as páginas  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- links de refências para CSS do Bootsrap  -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
    />
    <style>

.grid-container {
  display: grid;
    justify-content: space-between;
grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;

  padding: 10px;
}

.grid-container > div {
  font-size: 50px;
}
         .grid-item {
        text-align: center;
    }

    .grid-item img {
        max-width: 100%;
        max-height: 100%;
        background-color: transparent;
    }

</style>

    <title>{% block title %} Blank {% endblock %}</title>
</head>
<body>

<!-- Barra de navegação que está responsiva-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
    >
            <span class="navbar-toggler-icon">
            </span>
    </button>


    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
            {%if utilizador.is_authenticated %}
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" id="carList" href="/carList">Frota</a>
            <a class="nav-item nav-link" id="rent-a-car" href="/rent-a-car">Reserva</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Sair</a>

            {% else %}
            <a class="nav-item nav-link" id="login" href="/login">Entrar</a>
            <a class="nav-item nav-link" id="signUp" href="/sign-up">Regsitar</a>
            {%endif%}
        </div>

    </div>
    <!-- elemento que se apresenta após login -->
    {%if utilizador.is_authenticated %}
    <span class="nav-item" style="color: rgba(255,255,255,.5);margin-left: auto;">Bem-vindo {{utilizador.nome}}</span>
    {%endif%}
</nav>
<!-- Este bloco de código é mensagem de flash que estara em cada route necessário
 -->
{% with messages = get_flashed_messages(with_categories=true) %}
{%if messages %}
{%for category,message in messages%}
{%if category == 'erro' %}
<div class="alert alert-danger alert.dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-success alert.dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{%endif%}
{%endfor%}
{%endif%}
{%endwith%}


<div class="container">{% block content%}{% endblock%}</div>



<!-- Links de referências de JS do Bootstrap -->
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>

<script>

    function getModel() {
  var e = document.getElementById("car");
  var value = e.value;


  fetch("http://127.0.0.1:5000/rent-a-car", {
    method: "POST",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ car: value }),
  })
  .then((response) => response.json())
  .then((data) => {
    var modelos = document.getElementById("model");
    for (var i = modelos.options.length - 1; i >= 1; i--) {
      modelos.remove(i);
      }
    for (var i = 0; i < data.length; i++) {
      modelos.innerHTML =
        modelos.innerHTML +
        ' <option value= "' + data[i].model + ',' + data[i].matricula +',' + data[i].preco_dia +'">' +
        data[i].model +
        "</option>";
    }

    if (modelos.hasAttribute("hidden")) {
      modelos.removeAttribute("hidden");
    }
      precoTotal();

  });
}

        function getDifferenceInDays(date1, date2) {
  var date1_ms = date1.getTime();
  var date2_ms = date2.getTime();
  var difference_ms = Math.abs(date2_ms - date1_ms);
  return Math.round(difference_ms / (1000 * 60 * 60 * 24));
}

document.getElementById("model").onchange = function() {
    precoTotal();
};



    function precoTotal(){
var startDate = new Date(document.getElementById("dataInicial").value);
var endDate = new Date(document.getElementById("dataFinal").value);
var parts = document.getElementById("model").value;
var partsSplit = parts.split(",");
var price_day = partsSplit[2];

var differenceInDays = getDifferenceInDays(startDate, endDate);
var preco_total = differenceInDays*price_day

if (!isNaN(preco_total)) {
document.getElementById("preco_total").value = preco_total;
} else {
        document.getElementById("preco_total").value = "Preço Final da reserva "
        }

    }

function mostrarCaixaIban() {
            var metodoPagamento = document.getElementById("pagamento").value;
            var Iban = document.getElementById("IBAN");

            if (metodoPagamento == "Debito_direto") {
                Iban.style.display = "block";
            } else {
                Iban.style.display = "none";
            }
        }

    window.onpageshow = function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    };
</script>
</body>
</html>