
{%extends "base.html"%} <!-- herança da página base -->

{% block title %}CarList{% endblock %}
{% block content%}


<h1 align="center">Veículos para reserva</h1>






<div class="grid-container">
    {%for marca in carro%}

    <div class="grid-item">
        <a class="nav-item nav-link" id="home" href="/carList/{{marca.marca}}">
        <img src="{{ url_for('static', filename='images/' + marca.marca + '.png') }}" alt="{{ marca.marca }}">
        </a></div>
    {%endfor%}
</div>

<form method="get" action="carList/{{marca}}">
    {%if (url !=marca)%}
   <div class="grid-container">

        {%for veiculo in modelo%}

        <div class="item">
            <h5> Marca: {{veiculo.marca_carro}} <br>
                Modelo: {{veiculo.modelo}} <br>
                Combustível: {{veiculo.combustivel}} <br>
                Nº de passageiros: {{veiculo.lugares}}
            </h5>
        </div>

        {%endfor%}





    </div>

</form>
<div>
<a href="/carList" type="submit" class="btn btn-primary justify-content-between">Voltar</a>
    </div>
    {%endif%}
{% endblock%}