
<!-- pagina principal-->

{%extends "base.html"%} <!-- herança da página base -->

{% block title %}Reservas{% endblock %}
{% block content%}
<h1 align="center">Área de Reserva</h1>
<ul class="list-group list-group-flush" id="reservas">
    {%for reserva in utilizador.reservas%}
    <li class="list-group-item">{{reserva.data}}
        <form method='POST' action='/eliminar/{{reserva.id}}'>
            <button type="submit" class="close" value='{{reserva.id}}' >
                <span aria-hidden="true">&times;</span>
        </button>
        </form>
    </li>
    {%endfor%}
</ul>
<form method="POST">
    <textarea name="reservas" id="reservas" class="form-control"></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Marcar Reserva</button>
    </div>
</form>
{% endblock%}