
<!-- pagina principal-->

{%extends "base.html"%} <!-- herança da página base -->

{% block title %}Reservas{% endblock %}
{% block content%}
<h1 align="center">Área de Reserva</h1>

<form method="POST">
    <label for="cars">Seleciona a marca:</label>

    <select name="cars" id="cars" >
        <option value="">Seleciona uma marca</option>
        {%for marca in carro%}
        <option value="marca">{{marca.marca}}</option>
        {%endfor%}
    </select>

    <br><br>
    <label for="cars">Seleciona o modelo:</label>

    <select name="model" id="model">
        {%for carro in modelo%}
        <option value="modelo">{{carro.modelo}}</option>
        {%endfor%}
    </select>

    <br><br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Marcar Reserva</button>
    </div>
</form>

<!--ul class="list-group list-group-flush" id="reservas">
    {%for reserva in utilizador.reservas%}
    <li class="list-group-item">{{reserva.data}}
        <form method='POST' action='/eliminar/{{reserva.id}}'>
            <button type="submit" class="close" value='{{reserva.id}}' >
                <span aria-hidden="true">&times;</span>
        </button>
        </form>
    </li>
    {%endfor%}
</ul-->

{% endblock%}