<!-- pagina para criar utilizador-->

{%extends "base.html"%} <!-- herança da página base -->
{% block title %}Sign-up{% endblock %}{% block content%}
<form method="POST">
    <h3 align="CENTER">Sign Up</h3>
    <!--Grupo de etiqueta e introdução de email -->
    <div class="form-group">
        <label for="email">Endereço Email</label>
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Introduz o email">

    </div>
    <!--Grupo de etiqueta e introdução do Nome -->
     <div class="form-group">
        <label for="Name">Nome</label>
        <input type="text"
               class="form-control"
               id="Name"
               name="Name"
               placeholder="Introduz o teu nome">

    </div>
     <!--Grupo de etiqueta e introdução da palavra-chave -->
     <div class="form-group">
        <label for="password1">Password</label>
        <input type="password"
               class="form-control"
               id="password1"
               name="password1"
               placeholder="Introduz a password">

    </div>
     <!--Grupo de etiqueta e introdução da confirmação da palavra-chave -->
     <div class="form-group">
        <label for="password2">Password (Confirmação)</label>
        <input type="password"
               class="form-control"
               id="password2"
               name="password2"
               placeholder="Confirma a password">

    </div>
    <br />
    <!-- botão que se encontra no bootsrap que está na página base-->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock%}