<!-- pagina para criar utilizador-->

{%extends "base.html"%} <!-- herança da página base -->
{% block title %}Registar{% endblock %}{% block content%}
<form method="POST">
    <h2>Registo</h2>

    <!--Grupo de etiqueta e introdução do Nome -->
     <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text"
               class="form-control"
               id="nome"
               name="nome"
               placeholder="Introduz o Nome">

    </div>

       <!--Grupo de etiqueta e introdução do último nome -->
     <div class="form-group">
        <label for="apelido">Apelido</label>
        <input type="text"
               class="form-control"
               id="apelido"
               name="apelido"
               placeholder="Introduz o Apelido">

    </div>
     <!--Grupo de etiqueta e introdução de email -->
    <div class="form-group">
        <label for="email">Endereço Email</label>
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Introduz o email">

    </div>
    <!--adicionar grupo de etiqueta com datas de nascimento-->

     <div class="form-group">
        <label for="dataNascimento">Data de Nascimento</label>
        <input type="date"
               class="form-control"
               id="dataNascimento"
               name="dataNascimento"
               placeholder="dd/mm/yyyy">

    </div>
     <!--Grupo de etiqueta e introdução da palavra-chave -->
     <div class="form-group">
        <label for="password1">Password</label>
        <input type="password"
               class="form-control"
               id="password1"
               name="password1"
               placeholder="Introduz a password">

    </div>
     <!--Grupo de etiqueta e introdução da confirmação da palavra-chave -->
     <div class="form-group">
        <label for="password2">Password (Confirmação)</label>
        <input type="password"
               class="form-control"
               id="password2"
               name="password2"
               placeholder="Confirma a password">

    </div>
    <br />
    <!-- botão de registo -->
    <button type="submit" class="btn btn-primary">Registar</button>
</form>
{% endblock%}